#sd{
    background-color: rgb(242, 243, 243);
    
}
.mk{
    background-color: rgba(4, 4, 4, 0.76);
}
.hh{
  background-color: lch(2.47% 0 296.81);
  border-radius: 35%;
  color: rgb(115, 121, 232);
}
.dd{
    background-color: rgb(8, 8, 8);
    border-radius: 25%;
}
#uu{
    background-color: rgb(6, 7, 7);
}
.nn
{
    background-color: rgb(8, 7, 7);
    border-radius: 100;
}